body {
	background: url(https://r4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-08869d3810a06c28a09cf1be487204ea.jpg) center center fixed;
	background-size: cover;
	font-family: Arial, sans-serif;
}

.content {
	margin-top: auto;
	margin-left: 250px;
	padding-left: 20px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #B7365F;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}
  
.sidebar li {
	display: block;
	margin-bottom: 10px;
}
  
.sidebar a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000;
	font-size: 25px;
}
  
.sidebar a:hover {
	background-color: #eee;
}


@media (max-width: 768px) {
.content {
	margin-left: 0;
}

.sidebar {
	display: none;
}
}
  